
<div class="container-fluid">
    <button class="btn btn-sm btn-info" (click)='AddPost()' *ngIf='!addpost'>Add Post</button>
    <br>
    <div  *ngIf='(!addpost &&  this.posts.length >=1 )'>
        <p>POSTS USER {{userId}}</p>
        <hr>
        <div class=" card postUser" *ngFor ='let post of posts'>
            <div class="card-body">
                <h4 >{{post.title }}</h4>
                <hr>
               <p>{{post.body}}</p>

            </div>
        </div>
    </div>

    <div *ngIf='(!addpost &&  this.posts.length < 1 )'>
        <p>Press Add To Creat New Post </p>
    </div>

        <div *ngIf='addpost'>
            <div class="card mb-2">
                <div class="card-body">
                    <p>Add New Post</p>
                      <p> title: <input type="text" #title></p>
                       <p> body:<input type="text" #body></p>
                        <button type="button" class="btn btn-sm btn-info mr-2" (click)='AddUserpost(userId,title.value, body.value)'>Add</button>
                        <button type="button" class="btn btn-sm btn-info" (click)='addpost=false'>Cancel</button>
                </div>
            </div>
        </div>
</div>